/* line 1, /home/xagusss/TTPS-Ruby/app/assets/stylesheets/application.css.scss */












body {
  background: linear-gradient(to right, #6d0019 0%, #f53945 34%, #f53945 67%, #6d0019 100%);
  margin: 0;
}
.field{

}
.submit-class{
      position: relative;
      background: linear-gradient(to bottom, #FFF4F4 0%, #6E943B 100%);
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 8px;
      padding-bottom: 8px;
      border-radius: 4px;
      border-color: #3D3E3E;
      border-style: solid;
      border-width: 2px;
      box-shadow: -1px 0px 13px 3px rgba(0,0,0,0.75);
      margin: 14px;
}
}
.labet-imputs{
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}
.imputs{
  width: 34%;
  border-radius: 3px;
  height: 21px;
  border-color: #6F1C1C;
  border-style: solid;
  border-width: 1px;
  box-shadow: -1px 0px 13px -1px rgba(0,0,0,0.75);
  margin: 3px;
}
.form-new{
  position: relative;
  left: 5%;
}
.table{
     top: 23px;
    position: relative;
    left: 6%;
    width: 86%;
    border-collapse: separate;
    border-spacing: 0px 19px;
}
.container-full{
  
}
.volver-class4{
  position: relative;
  background: linear-gradient(to bottom, #cfcfcf 0%, #525252 100%);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border-color: #3D3E3E;
  border-style: solid;
  top: 50px;
  border-width: 2px;
  left: 45%;
  box-shadow: -1px 0px 13px 3px rgba(0,0,0,0.75);
}
.container-statics{
  left: 7%;
  position: relative;
}
.volver-class2{
  position: relative;
  background: linear-gradient(to bottom, #cfcfcf 0%, #525252 100%);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border-color: #3D3E3E;
  border-style: solid;
  top: 50px;
  border-width: 2px;
  left: 45%;
  box-shadow: -1px 0px 13px 3px rgba(0,0,0,0.75);
}
.volver-class5{
  position: relative;
  background: linear-gradient(to bottom, #cfcfcf 0%, #525252 100%);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border-color: #3D3E3E;
  border-style: solid;
  top: -42px;
  border-width: 2px;
  left: 78%;
  box-shadow: -1px 0px 13px 3px rgba(0,0,0,0.75);
}
.volver-class{
  position: relative;
  background: linear-gradient(to bottom, #cfcfcf 0%, #525252 100%);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border-color: #3D3E3E;
  border-style: solid;
  border-width: 2px;
  box-shadow: -1px 0px 13px 3px rgba(0,0,0,0.75);
}
.background-div{
  
}
/* line 5, /home/xagusss/TTPS-Ruby/app/assets/stylesheets/application.css.scss */
.navbar {
  position: absolute;
  background: linear-gradient(to bottom, #cfcfcf 0%, #525252 100%);
  width: 100%;
  top: 0;
  left: 0;
  height: 39px;
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.75);
}
.custom-cell{
     height: 25px;
    width: 24%;
}
th, td {
        padding: 4px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-radius: 0px;
    border-width: 0px;
    font-family: 'Ubuntu', sans-serif;
}
.label-grande{
      font-size: large;
      font-family: 'Ubuntu', sans-serif;
      position: relative;
      left: 7%;
      top: 43px;
      margin-bottom: 57px;
    }
.container-data{
       top: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    background: linear-gradient(to bottom, #cfcfcf 0%, #525252 100%);
}

.insertarbutton{
            background: linear-gradient(to bottom, #cfcfcf 0%, #525252 100%);
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 5px;
            padding-top: 5px;
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
            border-color: #940505;
            font-family: 'Ubuntu', sans-serif;
            font-size: xx-large;
            position: relative;
            margin: 87px;
            top: -35px;
            left: 46%;
}

/* line 14, /home/xagusss/TTPS-Ruby/app/assets/stylesheets/application.css.scss */
.comment-navbar {
  position: absolute;
  left: 46%;
  font-size: x-large;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Ubuntu', sans-serif;
}

/* line 22, /home/xagusss/TTPS-Ruby/app/assets/stylesheets/application.css.scss */
.main-container {
  position: inherit;
  width: 80%;
  min-height: 640px;
  margin-top: 81px;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.31);
  margin-bottom: 17px;
}

/* line 33, /home/xagusss/TTPS-Ruby/app/assets/stylesheets/application.css.scss */
.footer {
  width: 100%;
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.75);
  background: linear-gradient(to bottom, #cfcfcf 0%, #525252 100%);
  height: 39px;
  margin-top: 35px;
}

/* line 40, /home/xagusss/TTPS-Ruby/app/assets/stylesheets/application.css.scss */
.img-footer {
  width: 20px;
  position: relative;
  top: 6px;
  margin-left: 4px;
}

/* line 46, /home/xagusss/TTPS-Ruby/app/assets/stylesheets/application.css.scss */
.footer-letra {
  position: relative;
  top: 0px;
  margin-bottom: 0;
  margin-left: 7px;
  font-family: 'Ubuntu', sans-serif;
  left: 43%;
  font-size: inherit;
  width: 187px;
}
