<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
<span class="navbar">
 <h3 class="comment-navbar">E-Vader</h3>
</span>
<div class="main-container">
<%= yield %>
</div>
<footer class="footer"><h3 class="footer-letra">Powered by  Rails <%= image_tag "rails.png", :alt => "Twitter",:class =>"img-footer", :title => "Twitter"%> </h3></footer>

</boby>
<html>